/* .box1{
    width: 200px;
    height: 200px;
    background-color: red;
} */
/* #b1{
    width: 200px;
    height: 200px;
    background-color: red;
} */
/* [speed="20km/hr"]{
    width: 200px;
    height: 200px;
    background-color: rgb(24, 203, 75);
}
[speed="80km/hr"]{
    width: 200px;
    height: 200px;
    background-color: rgb(210, 65, 33);
}
div > h1 > p{
     color: red;
}
div > h2{
    color: blue;
}
div h3{
    color: brown;
}
div p{
    color: blue;
}
*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
.h10{
    color: rgb(216, 66, 124);
}
#mic{
    color: rgba(255, 255, 0, 0.92);
}
.para{

}
.para{
    color: rgb(8, 55, 87) !important;;
}
.para2{
    color: rgb(101, 11, 134) !important;
}
#id1{
    color: red;
}
p.cl{
    color: rgb(25, 93, 149);
}
.cl{
    color: rgb(132, 94, 22);
}
/* .box{
    width: 60vw;
    height: 50vh;
    font-size:  1.5em;
    margin: auto;
    background-color: skyblue;
} */
/* body{
    font-size: 10px;
}
.box{
    width: 60vw;
    height: 50vh;
    font-size:  2rem;
    margin: auto;
    background-color: skyblue;
}
html{
    font-size: 20px;
}  */


.textP{ 

    /* text-align: center;
    text-align: left;
    text-align: right;
    text-align: justify; */
    /* text-decoration: none; */
    /* text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase; */
    /* color: #802f99;
    line-height: 20px;
    word-spacing: 20px;
    letter-spacing: 4px; */
}

/* a{
    text-decoration: none;
} */

#shadow{
    background-color: rgb(55, 124, 124);
    color: silver;
    text-align: center;
    text-shadow: 99px 0px 9px rgb(170, 236, 16);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: inset 10000;
   
}
.boxwa{
    border-style: groove;
    align:center;
    
    background-color: rgba(255, 0, 0);
}