
/* *{
    background-color: red;
}
ol{
    color: #1944bc;
} */
/* .selectors{
    background-color: yellow;
}
.properties{
    background-color: blue;
} */
/* #sel{
    background-color: yellow;
}
#prop{
    background-color: blue;
} */
/* div li,h1,{
    color: #1e9b64;
} */
